
html, body {
	overflow-x: hidden; 
	overflow: hidden;
}

.load_area {
	position: relative;
	text-align: center;
	width: 90%;
	display:none;
}

#content-panel {
	width: 94%;
	height: 100%;
	margin: -4% 3% 4% 3%;
	padding-top:0px;
	background-color:transparent;  
	position:relative;
}

.post_animation_reveal {
	display:none;
}

.hideMyScroll {
	overflow: hidden;
}

.showMyScroll {
	overflow: auto;
}

#content-panel h2 {
	font-size:7em;
	font-weight:bold;
}
#content-panel h3 {
	font-size:3em;
	font-weight:bold;
}

h2 {
	line-height: .9;
}

.fa {
	font-size: 14px;
}

.backpanel-mh {
	width:100%;
	height:100vh;
	margin: 0 0 0 0;
	padding-top:0px;
	background-color:grey;
	border-top: 1px solid white;
	border-left:1px solid white;
	display:none;
}

.frontpanel-mh {
	width:50%;
	height:100%;
	margin-top:-0% !important;
	background-color:red;
	background-size:cover;
}

.frontpanel-mh h1 {
	text-align: left;
	margin-left:40%;
	margin-top:20vh;
	font-size:12em;
	font-weight:900;
}

.panel_2 {
	background: url('coffeeshop.jpg')no-repeat;
	position: relative;
	height:80vh;
	background-attachment: fixed; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.panel_3 {
	width:100%;
	height:50vh;
	margin: 0% 0% 0% 0%;
	background-color: red; /*#f8f8f8; */
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
}

.panel_3_content {
	margin-top:20%;
}

.four_container {
	text-align: center;
	/* max-width: 600px; */
	margin-top:0%;
	overflow-x:hidden;
	float:right;
	bottom:0%;
	/*	right:-300px; */
	width:600px;
	position:relative;
}

.panel_4 {
	width:100%;
	height:80vh;
	margin: 0% 0% 0% 0%;
	background-color: red; /*#f8f8f8; */
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
}

.block {
	width: 50%;
	margin-right:0px;
	height: 50%;
	margin: 0px;
	display: inline-block;
	background: #1c1b20;
	text-align: left;
}

.block_content {
	margin: 50px 50px 50px 50px;
}

.block_content h3, h4 {
	color:white;
}

.block_content p {
	color:#4c4a57;
}

.block:nth-child(2) {
	margin-left:-1%;
}

.block:nth-child(4) {
	margin-left:-1%;
}

.panel_5_right {
	width:50%;
	height:110vh;
	margin: 0% 0% 0% 0%;
	background-color:cyan;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	float:right;
}

.panel_5_left {
	background: url('coffeeshop.jpg')no-repeat;
	background-size: cover;
	width:50%;
	height:110vh;
	margin: 0% 0% 0% 0%;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	float:left;
	background-attachment: fixed;
	background-position: center;

}

.top_cover_bar {
	width:100%;
	height:45%;
	margin-top:-4%;
	top:0;
	background-color:red;
	position:relative;
}
h2.agnostic {
	margin: -70px 0 0 0 !important;
}

.mid_cover_bar {
	left:0;
	height:100%;
	float:right;
	background-color: red;
	width:5%;
}


.bottom_cover_bar {
	width:100%;
	height:20%;
	bottom:0;
	position: absolute;
	background-color:red;
}

.img_caption {
	margin: 5% 5% 0 0;
	text-align: right;
}


.text_overlay {
	margin-top:10%;
	width:auto;
	background-color:transparent;
	margin-top:0%;
}

.panel_5_right .text_overlay .content {
	width:100%;
}

.text_overlay_sm {
	width:auto;
	background-color:transparent;
	margin-top:10%;
	margin-left:20%;
	margin-right:5%;
	overflow-y: hidden;
}

.content {
	margin-left:15%;
	text-align: left;
	width:50%;
}

.right_float {
	float:right;
	width:45%;
	margin-top:-5%;
}

a.underline_style {
	text-decoration: underline;

}

a:hover.underline_style {
	text-decoration: line-through;

}

.h3_margin {
	margin-top:35%;
	margin-bottom:15%;
}

.h2_margin {
	margin-top:70%;
	margin-bottom:15%;
}

.panel_6 {
	background: url('coffeeshop.jpg')no-repeat;
	width: 100%;
	height:60vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;
}

.panel_6 .content {
	margin-top:-5%;
}

.top_cover_bar_2 {
	width:100%;
	background-color:grey;
	height:200px;
}

.panel_7 {
	width:100%;
	height:auto;
	margin: 0% 0% 15% 0%;
	background-color:#f8f8f8;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
}

.panel_7 .content {
	margin-top:15%;
	margin-bottom:15%;
}

.panel_7 .content h3 {
	margin-left:60%;
	width:100%;
}

.panel_7 p {
	margin-top:20px;
}

.bottom_overlay {
	position: fixed;
	bottom: 0;
	margin-bottom: 5%;
	width:100%;
	display:none;
	float:right;
}
.footer_arrow {
	margin-top:0%;
	margin-right:0%;
	font-weight:900;
	float:right;
	text-align: right;
	font-size: 3em;
}

.arrow_text {
	float:left;
	text-align: left;
}

.arrow_text h3 {
	color:black;
} 
p.opaque_footer {
	opacity:.5;
}

.navbar{
	margin-top:-2px;
	margin-bottom:0px; 
	background-color:white;
	border-bottom: none;
	overflow: hidden;
	position:fixed;
	width:100%;
}

.navbar-brand {
	margin-left:3.5% !important;
}

.navbar-nav {
	float:right;
	margin-right: .5%;
}

nav {
	display:none;
}
#upper_left {
	position: fixed;
	top: 1.5%;
	left: 3.5%;
}

#upper_right {
	position: fixed;
	top: 1.5%;
	right: 3.5%;
}

.mid_left_bar {
	width:0px;
	background-color: white; 
	height:100%;
	left:3%;
	position: fixed;
	z-index: 10000000;
	margin-top:3%;
	margin-bottom:40px;
}

#mid_left {
	position: fixed;
	top:50%;
	bottom:0;
	left: 1.5%;
	z-index: 1;
	display:none;
}

.offset_1 {
	font-size: 12px;
	width:12.5px;
}
.offset_2 {
	font-size: 12px;
	width:12.5px;
}

#mid_right {
	position: fixed;
	top:45%;
	bottom:0;
	right: 1%;
	display:none;
}

#mid_right ul {
	list-style: none;
}

#mid_right ul a {
	text-decoration: none;
}

#lower_left {
	position: fixed;
	bottom:3.5%;
	left: 3%;
	z-index: 1;
	display: none;
}

#lower_right {
	bottom: 3.5%;
	right: 3%;
	position: fixed;
	z-index: 1;
	display:none;
}
#bottom_banner {
	position: fixed;
	bottom: 0;
	width: 100%;
	min-height: 40px;
	background-color:white;
	z-index: 1;
	display: none;
}

a, hover { 
	color: black; 
	text-decoration: none; 
}

#rot {
	padding:0;
	margin:0;
	position:relative;
	right:0;
	top:0px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

#rot_mid {
	padding:0;
	margin:0;
	position:relative;
	right:0;
	top:0px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}


.icon {
	float:right;
	text-align:right;
	width:6px;
	margin-top:40px;
	height:0px;
	line-height:5px;

}



#mid_left a:hover, a:visited  {
	text-decoration: none;
}

#rot2 {
	padding:0;
	margin:0;
	position:relative;
	right:0;
	top:0px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

#rot3 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}


#my_model {
	border:none;
}

.modal {
	display: none;  
	position: fixed;  
	z-index: 0;  
	border:none;
	padding-top:0px;  
	left: 0;
	top: 0;
	background-color: grey;
	margin: auto;
	padding: none
	border: none;
	width:92%;
	height:100%;
	margin: 4% 4% 4% 4%;
	overflow: hidden; /* Enable scroll if needed */
	border: none;
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

.close_modal {
	float:left;
	width:5%;
	height:100%;
	margin-top:25%;
	margin-left:-14%;
}

.close {
	color: black;
	font-size: 24px;
	font-weight: 200;
	bottom:0;
	opacity:1;
}

.close:hover,
.close:focus {
	color: grey;
	text-decoration: none;
	font-weight: 400;
	cursor: pointer;
}
.modal-body {
	margin: 0% 0% 10% 0%;
	padding-left:10%;
	height:100%;
	color:black;
	background-color: white;
}

.modal_content {
	float:left;
	margin-top:10%;
	margin-left:10%;
}

.modal_square {
	height:100%;
	width:10%;
	margin-right:6%;
	background-color:red;
	float:right;
}

.modal_content a:hover, a:visited {
	text-decoration: none;
}

.modal-body h2 {
	line-height:1.6;
	font-size:2.2em;
}
.modal-body p {
	margin-top:25%;
}

span.strike {
	text-decoration: line-through;
}

