html, body {
  overflow-x: hidden;
  overflow: hidden;
  font-family: sans-serif; }

p {
  color: #606060;
  font-size: 1.6rem; }

.top-nav {
  width: 100%;
  top: 0;
  position: fixed;
  height: 0px;
  background-color: white;
  color: black;
  z-index: 99999999;
  font-weight: 500; }

.top-nav p:nth-child(1) {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 0 3%; }

.top-nav p:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 3% 0 0; }

.bottom-nav {
  width: 100%;
  bottom: 0;
  position: fixed;
  height: 0px;
  background-color: white;
  z-index: 999999; }

#rot {
  padding: 0;
  margin: 0;
  position: relative;
  right: 0;
  top: 0px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg); }

.right-bar {
  height: 100%;
  background-color: white;
  position: fixed;
  /* width:50px; */
  z-index: 99999999;
  float: right !important;
  right: 0; }

#mid_right {
  position: fixed;
  top: 40%;
  bottom: 0;
  right: 1%;
  z-index: 9; }

#mid_right ul {
  list-style: none; }

#mid_right ul a {
  text-decoration: none; }

#lower_left {
  position: fixed;
  bottom: 6%;
  left: 3%;
  z-index: 1;
  display: none; }

#middle_left {
  position: fixed;
  bottom: 12%;
  left: 46%;
  z-index: 1;
  display: none; }

@keyframes jump {
  0% {
    top: 0; }
  50% {
    top: 20px; }
  100% {
    top: 0; } }

#arrow-down {
  position: relative;
  margin: 12px 0 0 0;
  text-align: center;
  animation: jump 2s infinite; }

#middle_left p {
  font-size: 12px;
  font-weight: 900;
  color: #f5f6fa; }

#rot.arrow-icon {
  font-weight: 300 !important; }

#lower_right {
  bottom: 6%;
  right: 3%;
  position: fixed;
  z-index: 1;
  display: none; }

.footer-top-margin {
  display: block;
  width: 100%;
  padding: 0px 0;
  background: transparent;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: padding .3s linear;
  -moz-transition: padding .3s linear;
  -ms-transition: padding .3s linear;
  -o-transition: padding .3s linear;
  transition: padding .3s linear; }

.footer-menu {
  width: 100%;
  display: block;
  position: fixed;
  color: black;
  margin: 25% 0% 0% 0%;
  z-index: -1; }

.footer-arrow {
  margin-right: 5%;
  position: relative;
  float: left;
  width: 60px;
  height: 150px; }

.footer-arrow h2 {
  margin-left: 0%;
  line-height: 0;
  /*centers arrow w/ content */ }

.navbar {
  margin-top: -2px;
  margin-bottom: 0px;
  background-color: white;
  border-bottom: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  transition: .00005s ease-in-out;
  transition-property: background-position;
  -webkit-transition: .00005s ease-in-out;
  -moz-transition: .00005s ease-in-out;
  -o-transition: .00005s ease-in-out;
  -webkit-transition-property: background-position;
  -moz-transition-property: background-position;
  -o-transition-property: background-position; }

.navbar-brand {
  margin-left: 10% !important; }

.navbar-nav {
  float: right;
  margin-right: 1%; }

nav {
  display: block;
  /* sometimes it is none */ }

.fa {
  font-size: 14px; }

/* these are important */
.hideMyScroll {
  overflow: hidden; }

.showMyScroll {
  overflow: auto; }

/* these are important */
.code-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute; }

.code_load {
  margin-top: 25%;
  margin-left: 45%;
  width: 500px;
  height: 400px;
  display: block;
  overflow: hidden; }

#bar1, #bar2, #bar3, #bar4, #bar5, #bar6, #bar7, #bar8, #bar9, #bar10, #bar11, #bar12, #bar13, #bar14, #bar15, #bar16, #bar17, #bar18, #bar19, #bar20, #bar21, #bar22, #bar23, #bar24, #bar25, #bar26, #bar27, #bar28, #bar29,
#bar30, #bar31, #bar32, #bar33, #bar34, #bar35,
#bar36, #bar37, #bar38, #bar39, #bar40, #bar41 {
  width: 0%;
  height: 5px;
  margin-bottom: 3px;
  margin-left: 16px;
  background-color: #fff; }

#bar2 {
  margin-left: 26px; }

#bar3 {
  margin-left: 48px;
  margin-top: -8px; }

#bar4 {
  margin-left: 20px; }

#bar5 {
  float: left;
  margin-left: 42px;
  margin-top: -8px; }

#bar6 {
  margin-left: 30px; }

#bar7 {
  margin-left: 25px; }

#bar8 {
  margin-left: 52px;
  margin-top: -8px; }

#bar9 {
  margin-left: 20px; }

#bar10 {
  margin-left: 20px; }

#bar11 {
  margin-left: 18px; }

#bar12 {
  margin-top: -8px;
  margin-left: 45px; }

#bar13 {
  margin-left: 20px; }

#bar14 {
  margin-left: 34px; }

#bar15 {
  margin-top: -8px;
  margin-left: 56px; }

#bar16 {
  margin-left: 40px; }

#bar17 {
  margin-left: 50px; }

#bar18 {
  margin-top: -7px;
  margin-left: 64px; }

#bar19 {
  margin-left: 60px; }

#bar20 {
  margin-top: -7px;
  margin-left: 74px; }

#bar21 {
  margin-top: -7px;
  margin-left: 100px; }

#bar22 {
  margin-left: 50px; }

#bar23 {
  margin-top: -7px;
  margin-left: 76px; }

#bar24 {
  margin-left: 40px; }

#bar25 {
  margin-left: 20px; }

#bar26 {
  margin-left: 10px; }

#bar27 {
  margin-left: 20px; }

#bar28 {
  margin-top: -7px;
  margin-left: 52px; }

#bar29 {
  margin-left: 30px; }

#bar30 {
  margin-left: 40px; }

#bar31 {
  margin-top: -7px;
  margin-left: 51px; }

#bar32 {
  margin-top: -7px;
  margin-left: 65px; }

#bar33 {
  margin-left: 40px; }

#bar34 {
  margin-top: -7px;
  margin-left: 63px; }

#bar35 {
  margin-left: 50px; }

#bar36 {
  margin-top: -7px;
  margin-left: 70px; }

#bar37 {
  margin-left: 40px; }

#bar38 {
  margin-top: -7px;
  margin-left: 66px; }

#bar39 {
  margin-left: 30px; }

#bar40 {
  margin-left: 15px; }

#bar41 {
  margin-left: 5px; }

.backpanel-mh {
  width: 100%;
  height: 350%;
  margin: 0 0 0 0;
  background-color: #f5f6fa;
  background-position: center;
  background-size: cover;
  display: none; }

.frontpanel-mh {
  height: 110vh;
  background-color: #1abc9c;
  background-size: cover;
  margin: 0 auto;
  width: 100%; }

.intro-txt-wrap {
  position: absolute;
  margin-top: 40vh;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: none; }

.txt-mh {
  float: right;
  font-size: 8em;
  font-weight: 900; }

.intro-txt-right {
  width: 50%;
  left: 20%;
  background-color: transparent;
  position: fixed; }

.intro-txt-left {
  width: 40%;
  margin: 5% 0 0 15%;
  color: black;
  position: fixed;
  font-weight: bold; }

.left-txt-animation {
  display: none;
  float: left;
  width: 100%;
  margin-left: 10%;
  position: relative; }

.left-txt-animation h4 {
  font-size: 2.5rem; }

.txt-overlay {
  width: 100%;
  text-align: left; }

.mid-txt-right {
  background-color: cyan;
  width: 50%;
  bottom: -50px;
  color: black;
  /*position:fixed;*/
  font-weight: bold;
  float: right; }

.right-txt-overlay {
  float: right;
  width: 100%;
  margin-left: 10%;
  position: relative;
  padding-left: 75px; }

.right-txt-overlay h4 {
  font-size: 2.5rem; }

.content h2 {
  font-size: 6em;
  margin-left: 20%;
  line-height: .9; }

.content-general {
  width: 25%;
  position: relative;
  margin-left: 20%; }

.content-general h3 {
  margin: 35% 0 18% 0; }

a.strikethrough {
  color: black;
  font-weight: 900;
  text-decoration: none;
  font-size: 22px;
  /*  letter-spacing: 5px; */
  position: relative; }
  a.strikethrough::before, a.strikethrough::after {
    content: '';
    background: cyan;
    opacity: .6;
    position: absolute;
    top: 44%;
    height: 6px;
    width: 0; }
  a.strikethrough::before {
    left: 0; }
  a.strikethrough::after {
    right: 0;
    transition: width 500ms ease; }
  a.strikethrough:hover::before {
    width: 100%;
    transition: width 500ms ease; }
  a.strikethrough:hover::after {
    width: 100%;
    background: transparent;
    transition: 0; }

.default-strikethrough {
  font-weight: 900;
  text-decoration: none;
  font-size: 22px;
  pointer-events: none;
  cursor: default;
  position: relative; }

.default-strikethrough::after {
  content: '';
  position: absolute;
  opacity: .6;
  left: 0;
  top: 44%;
  height: 6px;
  width: 100%;
  background: orange; }

.panel_2 {
  background: url(../images/rawpixel-617380-unsplash.jpg) no-repeat center center;
  background-attachment: fixed;
  height: 80vh;
  background-size: cover;
  transform: translate3d(0, 0, 0);
  /* safari patch, improves performance by forcing IOS to use hardware-acceleration */
  -webkit-transform: translate3d(0, 0, 0);
  /* safari patch, improves performance by forcing IOS to use hardware-acceleration */ }

.panel_3 {
  width: 100%;
  height: 155vh;
  margin: 0% 0% 0% 0%;
  background-color: #ecf0f1;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative; }

.panel_3_content {
  margin-top: 20%; }

.panel_4 {
  width: 100%;
  height: 100%;
  margin: 0% 0% 0% 0%;
  overflow-y: hidden;
  overflow-x: hidden;
  transform: translate3d(0, 0, 0);
  /* safari patch, improves performance by forcing IOS to use hardware-acceleration */
  -webkit-transform: translate3d(0, 0, 0);
  /* safari patch, improves performance by forcing IOS to use hardware-acceleration */ }

.img-container-1 {
  width: 0%;
  background: rgba(255, 255, 255, 0.05);
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  min-height: 700px;
  background: url(../images/jo-szczepanska-666986-unsplash.jpg) repeat center;
  background-size: cover; }

.img-container-2 {
  background: rgba(255, 255, 255, 0.05);
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  min-height: 0px;
  background: url(../images/ben-white-197680-unsplash.jpg) repeat center;
  background-size: cover; }

.overlay-color-1 {
  position: absolute;
  background-color: #ecf0f1;
  top: 0;
  height: 500px;
  width: 100%; }

.overlay-color-1-right {
  float: right;
  background-color: #ecf0f1;
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0;
  height: 100%; }

.mid_cta_panel {
  width: 100%;
  height: 150px;
  background-color: #ecf0f1; }

.overlay-color-2 {
  position: absolute;
  background-color: #ecf0f1;
  top: 0;
  height: 200px;
  width: 100%; }

.wrapper {
  position: relative;
  background-color: transparent; }

.inner {
  background-color: #ecf0f1; }

.wrapper#demo1, .wrapper#demo2 {
  overflow: hidden; }

.wrapper > .inner {
  padding: 0 0 0 0;
  max-width: 100%;
  width: 100%; }

.wrapper.fade-up > .inner {
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1; }

.wrapper > .inner {
  margin: 0 auto; }

.content-layer {
  height: 100%;
  width: 100%; }

.four-block {
  text-align: center;
  float: right;
  margin-top: 0%;
  overflow-x: hidden;
  bottom: -20%;
  right: -400px;
  width: 650px;
  margin-right: 3%;
  /* 0 on mobile */
  position: absolute;
  display: block; }

.block {
  width: 50%;
  margin-right: 0px;
  height: 50%;
  margin: 0px;
  display: inline-block;
  background: #1c1b20;
  text-align: left; }

.block-content:nth-child(1) {
  margin: 25px 25px 65px 65px; }

.block-content:nth-child(3) {
  margin: 25px 25px 65px 65px; }

.block-content:nth-child(2) {
  margin: 25px 25px 65px 15px; }

.block-content:nth-child(4) {
  margin: 25px 25px 65px 15px; }

.block-content h3, h4 {
  color: white; }

.block-content p {
  color: #4c4a57;
  line-height: 1.6;
  font-size: 1.4em; }

.block:nth-child(2) {
  margin-left: -1%; }

.block:nth-child(4) {
  margin-left: -1%; }

/*
.panel_5 {
width:100%;
height:75vh;
background: url(../images/testy.jpg)no-repeat;
background-size: cover;
margin: 0% 0% 0% 0%;
overflow-y: hidden;
overflow-x: hidden;
background-attachment: fixed;
background-position: center;

}
*/
.panel_6 {
  width: 100%;
  height: 40vh;
  margin: 0% 0% 18% 0%;
  padding-top: 6%;
  background-color: #ecf0f1;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative; }

.panel-6-txt {
  margin-top: 5%;
  margin-left: -18%;
  text-align: left; }

.footer_arrow {
  margin-top: 0%;
  margin-right: 0%;
  font-weight: 900;
  float: right;
  text-align: right;
  font-size: 3em; }

.mid_left_bar {
  background-color: white;
  height: 100vh;
  bottom: 0;
  width: 0px;
  left: 0;
  position: fixed;
  z-index: 10000000;
  /* hack to place above all other elements */
  -webkit-transition: width .5s;
  /* For Safari 3.1 to 6.0 */
  transition: width .5s; }

.mid_left:hover .mid_left_bar {
  width: 4%;
  -webkit-transition: width .5s;
  /* For Safari 3.1 to 6.0 */
  transition: width .5s; }

.mid_left_modal_outline {
  background-color: white;
  height: 100vh;
  bottom: 0;
  width: 0%;
  left: 0;
  position: fixed;
  z-index: 10000;
  /* hack to place above all other elements */
  -webkit-transition: width .5s;
  /* For Safari 3.1 to 6.0 */
  transition: width .5s; }

.modal-content-shape {
  background-color: white;
  height: 100vh;
  bottom: 0;
  width: 0%;
  -webkit-transition: width .5s;
  /* For Safari 3.1 to 6.0 */
  transition: width .5s;
  position: fixed; }

.right_modal_overlay {
  width: 0%;
  right: 0;
  top: 0;
  height: 100%;
  background-color: orange;
  position: fixed;
  opacity: .8; }

.modal-right-bar {
  height: 100% !important;
  height: 0%;
  background-color: green;
  opacity: .7;
  position: fixed;
  right: 0; }

p.modal-address {
  font-weight: 300; }

.modal-cta-btn {
  cursor: pointer;
  float: left;
  line-height: .6;
  font-size: 2.4rem; }

p.modal-cta-btn {
  font-size: 14px !important;
  font-weight: 300; }

.modal-cta {
  font-weight: 900;
  font-size: 2.4rem; }

#nav-button {
  position: fixed;
  top: 50%;
  height: 35px;
  bottom: 0;
  left: 0;
  z-index: 9999999999999999999999999999999999999999999999999999999999999999999; }

#mid_left {
  position: fixed;
  top: 50%;
  height: 35px;
  bottom: 0;
  left: 0;
  z-index: 9999999999999999999999999999999999999999999999999999999999999999999;
  display: block;
  font-weight: 900;
  /* performance improvement */
  transition: .00005s ease-in-out;
  transition-property: background-position;
  -webkit-transition: .00005s ease-in-out;
  -moz-transition: .00005s ease-in-out;
  -o-transition: .00005s ease-in-out;
  -webkit-transition-property: background-position;
  -moz-transition-property: background-position;
  -o-transition-property: background-position; }

.offset_1 {
  font-family: sans-serif;
  font-size: .9rem;
  font-weight: bold;
  vertical-align: middle; }

.offset_2 {
  font-family: sans-serif;
  font-size: .9rem;
  font-weight: bold;
  vertical-align: middle; }

a, hover {
  color: black;
  text-decoration: none; }

#rot_mid {
  cursor: default;
  padding: 0;
  margin: 0;
  position: relative;
  top: -2px;
  float: right;
  right: 5px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg); }

#icon {
  width: auto;
  height: auto; }

.icon {
  float: left;
  text-align: right;
  width: 6px;
  height: 0px;
  line-height: 5px; }

#rot2 {
  padding: 0;
  margin: 0;
  position: relative;
  right: 0;
  top: 0px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg); }

#rot3 {
  width: 40px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  /* margin-top:5%; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#rot3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 40%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  z-index: 99999999999999999999999999999999999999; }

#rot3 span:nth-child(1) {
  top: 0px;
  z-index: 99999999999999999999999999999999999999; }

#rot3 span:nth-child(2) {
  top: 6px;
  z-index: 99999999999999999999999999999999999999; }

#rot3 span:nth-child(3) {
  top: 12px;
  z-index: 99999999999999999999999999999999999999; }

#rot3.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  z-index: 9999999999999999999999999999999999999; }

#rot3.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  z-index: 9999999999999999999999999999999999999; }

#rot3.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  z-index: 9999999999999999999999999999999999999; }

.modal-body {
  margin: 0% 0% 0% 0%;
  padding-left: 0%;
  height: 100%;
  width: 0%;
  background-color: white; }

.modal-body h2 {
  line-height: 1.6;
  font-size: 2.2em; }

.modal-body p {
  margin-top: 25%; }

.modal_content:nth-child(1) {
  font-size: 3rem;
  font-weight: 900; }

.modal_content {
  float: right;
  margin-left: 0%;
  background-color: white;
  position: relative;
  color: black;
  width: 80%; }

.modal_content:nth-child(1) {
  margin: 20% 0 0 0; }

.modal_content:nth-child(2) {
  margin: 5% 0 0 0; }

.modal_content_2 {
  float: right;
  margin-left: 0%;
  background-color: white;
  position: relative;
  color: black;
  width: 80%; }

.modal_content_3 {
  float: right;
  margin-left: 0%;
  background-color: white;
  position: relative;
  color: black;
  width: 80%; }

.disable-arrow {
  color: transparent;
  pointer-events: none; }

.line-height {
  line-height: 1.1; }

#modal_t_1, #modal_t_2, #modal_t_3, #modal_t_4 {
  line-height: 3;
  visibility: hidden;
  color: black; }

.modal_content a:hover, a:visited {
  text-decoration: none; }

span.strike {
  text-decoration: line-through; }
